body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 50px;
    transition: background-color 0.5s ease;
}

.weather {
    border: 2px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.despejado {
    background-color: #87CEFA; /* Cielo despejado */
}

.lluvia {
    background-color: #4682B4; /* Lluvia */
}

.nieve {
    background-color: #B0E0E6; /* Nieve */
}

.nublado {
    background-color: #D3D3D3; /* Nublado */
}

.tormenta {
    background-color: #A9A9A9; /* Tormenta */
}

h2, h3, p {
    color: #333;
}
#loader {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    color: #333;
}

#weather-container {
    opacity: 0;
    transition: opacity 0.5s ease;
}

#weather-container.show {
    opacity: 1;
}

#forecast {
    margin-top: 20px;
}

#forecast-day-1, #forecast-day-2, #forecast-day-3 {
    margin-top: 10px;
}
